/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
}

body {
  background-color: #feffff;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  font-weight: 400; font-style: normal;
  font-size: 18.5px;
  text-align: left;
  color:#071831;

}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { 
  font-size:30px;
  line-height: 50px;
 }
p { 
  margin: .8em 0;
}

a         { color: #071831; 
            }
a:hover   { color: #071831; }
a:visited { color: #071831; }



/*****************************************************************************/
/*
/* Grid
/*
/*****************************************************************************/


.workthumb{
  margin-bottom: 50px;
}
.container{

  margin-right: auto;
  margin-left: auto;
  width:980px;
}
.g80, .g160, .g240, .g320, .g400, .g480, .g560, .g640, .g720, .g800, .g880, .g960 {
    display: inline;float: left;margin-left: 20px;
}
.g80{width:60px;}
.g160{width:140px;}
.g240{width:220px;}
.g320{width:300px;}
.g400{width:380px;}
.g480{width:460px;}
.g560{width:540px;}
.g640{width:620px;}
.g720{width:700px;}
.g800{width:780px;}
.g880{width:860px;}
.g960{width:940px;}

.ml80{margin-left:100px;}
.ml160{margin-left:180px;}
.ml240{margin-left:260px;}
.ml320{margin-left:340px;}
.ml400{margin-left:420px;}
.ml480{margin-left:500px;}
.ml560{margin-left:580px;}
.ml640{margin-left:660px;}
.ml720{margin-left:740px;}
.ml800{margin-left:820px;}
.ml880{margin-left:900px;}
.ml960{margin-left:980px;}

.inside{margin-left:0;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
  clear: both;
  content:' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts span {
  color: #B8BDC5;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  font-size: 80%;
}
div.workname, div.worktype{
  line-height: 19px;
}
div.workname{
  font-family: 'Microsoft YaHei', Arial, sans-serif; 
  font-weight: 500; font-style: normal;
  font-size: 15px;
  letter-spacing: 0.02em;
}

a.workthumb {
  text-decoration: none;
}

a:hover.workthumb div.workname{
  text-decoration: underline;
}

div.worktype{
  color:#B8BDC5;
  font-size: 12px;
  letter-spacing: .5px;
  font-style:italic;
}



/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: left;
  line-height: 1.9em;
  margin-left: auto;
  margin-right: auto;
  margin-top:-5.5em;
  /*width: 980px;*/
}

.site .nav {
  position: relative;
  left:380px;
  display:block;
  width:480px;
  float:left;
}
.site .nav a, .site .nav span {
  font-family: 'Microsoft YaHei', Arial, sans-serif; 
  font-weight: 500; font-style: normal;
  font-size: 15px;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 20px;
  padding-top: 110px;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
  font-size: 15px;
  color: white;
  opacity: 0;
  letter-spacing: 0.04em;
  width: 384px;
  float:left;
  text-transform:lowercase;
  font-family: 'Microsoft YaHei', Arial, sans-serif; 
  font-weight: 600; font-style: normal;
  position: relative;
  top: 175px;
  left: -175px;
}

.posts .title {
  display: inline-block;
  width: 620px;
  text-align: left;
}

.site h1 a {
  color: #071831;
  text-decoration: none;
}

.site h1 a:hover {
  border-bottom: 2px solid #071831;
}

.site .header h1.title a:hover {
  color: #071831;
  text-decoration: none;
  border: none;
}

.site .header {
  margin-bottom: 3em;
  border-bottom: 1px solid #D2D5DB;
  height: 224px;

}

.site .header .header-line{
  border-bottom: 1px solid #B8BDC5;
  position: absolute;
  top: 80px;
  left: 222px;
}
.site .nav a.extra, .site .nav span.extra {
  position: relative;
  color: #B8BDC5;
  height:34px;
}


.site .nav a#selected, .site .nav a.extra:hover, .site .nav span.extra {
  border-bottom: 4px solid #071831;
  color: #071831;
}

.site .nav span.extra {
  cursor: default;
}

.site .nav a.extra:hover {
  color: #071831;
}

.site .meta {
  color: #B8BDC5;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  line-height: 22px;
  font-size: 14px;
  position: relative;
  top: 20px;
  font-weight:400;
  letter-spacing: 0.02em;
}


.site .footer{
  font-size: 13px;
  color: #666;
  border-top: 1px solid #D2D5DB;
  margin-top: 4em;
  overflow: hidden;
  height:180px;
  color:#B8BDC5;
  font-family: 'Microsoft YaHei', Arial, sans-serif; 
  font-weight: 500; font-style: normal;
  letter-spacing: .06em;
}

.site .footer a{
  color: #B8BDC5;
  text-decoration: none;
}

.site .footer a:hover{
  color: #071831;
  text-decoration: underline;
}


.site .footer .copyright {
  width: 620px;
  display: inline;
  float:left;
}

.site .footer .copyright .cc-img{
  position: relative;
  top:4px;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

.logo {
  position: relative;
  float:left;
  left: -119px;
  top: 83px;
}

.footer .pages p, .footer .contact p{
  line-height: 1.9em;
  margin-top: 1.25em;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post.date{
  float:left;
  width:160px;
}

.posts .content{
  margin-left:160px;
}

.posts .content p img, .post p img{
  margin-left:-160px;
  margin-top:30px;
}


.posts li{
  border-bottom: 1px solid #B8BDC5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.posts li:first-child{
  padding-top: 0px;
}

.posts li:last-child{
  padding-bottom: 0px;
}
.posts li:last-child{
  border-bottom: none;
  margin-bottom: 0px;
}

blockquote {
  padding-left: 14px;
  margin: 1.14286em 54px 1.14286em 54px;
  font-style: italic;
  border-left: 1px solid #D2D5DB;
}

.photolabel {
  font-size: 14px;
  position: relative;
  top: -15px;
  margin-left: -160px;
  color: #071831;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
}

.post img {
  border: solid 1px #d2d5db;
}

