body {
			margin: 0;
			padding: 0;
		}		

		div.tooltip {
		    position: absolute;
		    width: 160px;
		    height: auto;
		    padding: 10px;
		    font-family: SimHei, STHeiti, Arial, sans-serif;
		    font-size: 12px;
		    text-align: left;
		    background-color: white;
		    -webkit-border-radius: 5px;
		    -moz-border-radius: 5px;
		    border-radius: 5px;
		    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
		    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
		    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
		    pointer-events: none;
		}

		/*to make sure 2 div alian hrizonly*/
		div.tooltipGadget {
		    display: inline-block;
		    margin: 1px;  
		}

		div.box {
			padding: 6px; 
		}

		/*set the time axis style*/
		.axis path, .axis line {
		    fill: none;
		    stroke: none;
		    shape-rendering: crispEdges;
		}

		.axis text {
		    font-size: 42px;
		    font-family: SimHei, STHeiti, Arial, sans-serif;
		    font-style: italic;
		    font-weight: bolder;
		    fill: #ddd;
		}

		.title {
		    font-size: 36px;
		    font-family: SimHei, STHeiti, Arial, sans-serif;
		    fill: #444;

		.footnote {
		    font-size: 10px;
		    font-family: SimHei, STHeiti, Arial, sans-serif;
		    fill: #444;
		}