.link {
		fill: none;
		opacity: .3;
		/*stroke: #bbb;*/
		/*stroke-width: 2px;*/
	}

	.node {
		stroke: #ddd;
	}

	.node text {
		font-family: "Microsoft YaHei", Arial;
		font-size: 12px;
		stroke: #666;
	}

	.node circle {
	  /*fill: #ddd;*/
	  /*stroke: none;*/
	  stroke-width: 2px;
	  /*opacity: .5;*/
	  fill-opacity: .5;
	  /*stroke-opacity: .8;*/
	}

	div.tooltip {
	    position: absolute;			/* reference for measurement */
	    text-align: center;
	    pointer-events: none;			/* 'none' tells the mouse to ignore the rectangle */
	    background: #FFFFEF;
	    width: 200px;
	    height: 70px;
	    padding: 10px;
	    border: 1px solid #D5D5D5;
	    font-family: "Microsoft YaHei",arial,helvetica,sans-serif;
	    position: absolute;
	    font-size: 1em;
	    color: #333;
	    padding: 10px;
	    border-radius: 3px;
	    background: rgba(255,255,255,0.9);
	    color: #000;
	    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	    border:1px solid rgba(200,200,200,0.85);
	}

	div.header1{
	    text-transform: uppercase;
	    text-align: left;
	    font-size: 12px;
	    margin-bottom: 2px;
	    color:#333;
	    text-align:center;
	}

	div.header2{
	    color:#000;
	    /*   text-transform:uppercase;*/
	    font-size: 11px;
	    text-align:center;
	    font-style:italic;
	}

	div.header3 {
	    text-align: left;
	    font-size: 11px;
	    /*  width:170px;*/
	    text-align:center;
	}

	div.header4 {
	    /*  position:absolute;*/
	    text-align:center;
	    right:10px;
	    top:28px;
	    font-size: 16px;
	    /*  width:100px;*/
	    text-align:center;
	    overflow:hidden;
	    font-weight:bold;
	}
