body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

#navBar {
    width: 100%;
    height: 40px;
    background-color: #333;
    position: fixed;
    /*line-height: 40px;*/
}

#navBar .logo {
    float: left;
    margin-left: 10px;

    /*line-height: 40px;*/
}

.orangeBox {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    background-color: orange;
}

.grayBox {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    background-color: gray;
}

.titleBox {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    /*background-color: black;*/
    font-family: 'Microsoft Yahei', arial, sans-serif;
    font-size: 20px;
    color: #ccc;
}

.main {
    text-align: center;
    margin: 0 auto;
}

/*单页留出和导航栏的边距*/
.pageContainer {
    padding-top: 50px;
}

/*.vizContainer {
    float: left;
}*/

.description {
    /*position: relative;*/
    /*float: right;*/

}

.description .wordBox {
    float: right;
    width: 400px;
    height: auto;
    font-family: SimSun,'Microsoft Yahei', arial, sans-serif;
    color:#ccc;
    padding-right: 50px;
    margin-right: 50px;
    line-height: 1.5em;
}
/*.page_2 {
    background-color: white;
}*/

.node circle {
  stroke: black;
  stroke-width: 1px;
}

.node text{
  fill: #fff;
  font-size: 10px;
  font-family: 'Microsoft Yahei';
}

.link {
  fill: none;
  /*stroke: white;*/
  stroke: orange;
  stroke-opacity: .1;
  stroke-width: 1px;
}

.tick text {
    fill: #ccc;
    font-size: 10px;
    font-family: 'Microsoft Yahei', sans-serif;
}

text.matrixHorizontal {
    fill: #fff;
    font-size: 10px;
    /*font-family: 'Microsoft Yahei', sans-serif;*/
}
