body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

/*单页留出和导航栏的边距*/
.pageContainer {
    padding-top: 50px;
}

.node circle {
  stroke: black;
  stroke-width: 1px;
}

.node text{
  fill: #fff;
  font-size: 10px;
  font-family: 'Microsoft Yahei';
}

.link {
  fill: none;
  /*stroke: white;*/
  stroke: orange;
  stroke-opacity: .1;
  stroke-width: 1px;
}
