<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>exp</title>
    <script type="text/javascript" src='lib/d3.min.js'></script>
	<script type="text/javascript" src='lib/vue.min.js'></script>
    <link rel="stylesheet" href="src/style.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <!-- start nav ################################################# -->
    <div id="nav">
        <img src="image/app-logo.png" alt="" id="logo">
        <!-- <button type="button" name="button" class='button infoMenu'>关于</button> -->
    </div>
    <!-- start nav ################################################# -->

    <!-- start container ########################################### -->
    <div id="container">
        <!-- start side panel ************************** -->
        <div id="sidePanel">
            <div id="app">
                <div class="checkboxHint">
                    <span>请选择可视化指标：</span>
                </div>
				<div id='checkboxes'>
                    <ul>
                        <li v-for='dimension in dimensionsAvailable'>
    						<label>{{ dimension.label }}</label>
    						<input type="checkbox" v-bind:value="dimension" v-model='checkedDimensions'>
    					</li>
                    </ul>
				</div>
                <div>
                    <input class='button' type="button" name="click" value="更新图表" @click=updateGraph(this.checkedDimensions,this.chartData)>
                </div>
			</div>
        </div>
        <!-- end side panel ************************** -->
        <div id="copyright">
			<span id='copyrightText'>© 2015 版权申明在此.</span>
		</div>
        <!-- start viz container ******************** -->
        <div id="vizContainer"></div>
        <!-- end viz container ******************** -->
    </div>
    <!-- end container ########################################### -->

    <script type="text/javascript" src='src/demo-parallel-vue.js'></script>
</body>
</html>
