.kfc-marker-cluster-small {
	background-color: rgba(253, 184, 19, 0.6);
	}
.kfc-marker-cluster-small div {
	background-color: rgba(253, 184, 19, 0.6);
	}

.kfc-marker-cluster-medium {
	background-color: rgba(252, 116, 6, 0.6);
	}
.kfc-marker-cluster-medium div {
	background-color: rgba(252, 116, 6, 0.6);
	}

.kfc-marker-cluster-large {
	background-color: rgba(201, 51, 0, 0.6);
	}
.kfc-marker-cluster-large div {
	background-color: rgba(201, 51, 0, 0.6);
	}

.mcd-marker-cluster-small {
	background-color: rgba(148, 209, 178, 0.6);
	}
.mcd-marker-cluster-small div {
	background-color: rgba(148, 209, 178, 0.6);
	}

.mcd-marker-cluster-medium {
	background-color: rgba(91, 197, 234, 0.6);
	}
.mcd-marker-cluster-medium div {
	background-color: rgba(91, 197, 234, 0.6);
	}

.mcd-marker-cluster-large {
	background-color: rgba(11, 100, 182, 0.6);
	}
.mcd-marker-cluster-large div {
	background-color: rgba(11, 100, 182, 0.6);
	}

/*setting for jiuye==================================*/
.damage-small {
	background-color: rgba(45, 158, 197, 0.6);
}
.damage-small div {
	background-color: rgba(45, 158, 197, 0.6);
}
.damage-medium {
	background-color: rgba(22, 137, 185, 0.6);
}
.damage-medium div {
	background-color: rgba(22, 137, 185, 0.6);
}
.damage-large {
	background-color: rgba(18, 116, 185, 0.6);
}
.damage-large div {
	background-color: rgba(18, 116, 185, 0.6);
}

.hurt-small {
	background-color: rgba(117, 208, 66, 0.6);
}
.hurt-small div {
	background-color: rgba(117, 208, 66, 0.6);
}
.hurt-medium {
	background-color: rgba(98, 186, 78, 0.6);
}
.hurt-medium div {
	background-color: rgba(98, 186, 78, 0.6);
}
.hurt-large {
	background-color: rgba(29, 175, 118, 0.6);
}
.hurt-large div {
	background-color: rgba(29, 175, 118, 0.6);
}

.dead-small {
	background-color: rgba(252, 198, 49, 0.6);
}
.dead-small div {
	background-color: rgba(252, 198, 49, 0.6);
}
.dead-medium {
	background-color: rgba(250, 189, 49, 0.6);
}
.dead-medium div {
	background-color: rgba(250, 189, 49, 0.6);
}
.dead-large {
	background-color: rgba(242, 130, 49, 0.6);
}
.dead-large div {
	background-color: rgba(242, 130, 49, 0.6);
}

/*base style ========================*/
.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}
