html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 11px;
	line-height: 18px;
	overflow: hidden;
}

/*导航条===========================================*/
#navigation {
	height: 40px;
	padding: 10px 0;
	background: #312e2e;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	box-shadow: 0 0 3px #666;
	z-index: 2;
	border-bottom: 1px solid #111;
	min-width: 900px;
	behavior: url(css/PIE.htc);
}

#navigation #logo {
	float: left;
	margin-left: 10px;
	border: 0;
}
/*导航栏按钮*/
#navigationButtons {
	float: left;
	height: 30px;
	padding: 5px 0 5px 165px;
}

#navigationButtons .button {
	background-color: #f5f5f5;
	color: #222;
	text-shadow:none;
}

#navigationButtons .button.toggled {
	background-color: #729ba3;
	color: #fff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
}

.button {
	cursor: pointer;
	line-height: 14px;
	display: inline-block;
	height: 16px;
	color: #fff;
	padding: 5px 5px;
	border-radius: 2px;
	font-size: 13px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	margin: 0;
	font-weight: 500;
	text-decoration: none;
	background-color: #729ba3;
	behavior: url(css/PIE.htc);
}

.button.secondary,
#navigationButtons .button.secondary {
	background-color: #444;
	color: #ccc;
}

.button.secondary:not([disabled='disabled']):hover,
#navigationButtons .button.secondary:not([disabled='disabled']):hover {
	background-color: #555;
}

#userbox {
	padding: 5px 0;
	margin-right: 10px;
}

.slidemenu {
	float: right;
	height: 30px;
}

/*内容容器===========================================*/
#contentContainer {
	z-index: 1;
	margin-top: 60px;
	display: block;
	height: 100%;
	overflow: hidden;
}

/*位于左侧的面板===========================================*/
#panel {
	float: left;
	width: 350px;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #eeefef;
	position: relative;
	box-shadow: 0 0 3px #666;
	z-index: 3;
	behavior: url(css/PIE.htc);
}

/*面板上部分===========================================*/
#panel #panelUp {
	display: block;
	padding: 10px 0 18px 20px;
	margin: 0;
	height: 900px;
	/*background-color: #fff;*/
} 

#panel #tabs {
	width: 310px;
	height: 90px;
	/*margin-top: 5px;*/
}

#panel #tabs .btn {
	width: 103px;
	height: 27px;
	border: 0;
	display: block;
	float: left;
	margin-right: 0;
	font-size: 12px;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	/*font-weight: 800;*/
	color: #fff;
	text-align: center;
	padding-left: 10px;
	background: #729ba3;
}

#panel #tabs .btn.active:hover,
#panel #tabs .btn.active {
	background: #fff;
	border: 0;
	color: #222;
}

#panel #tabs .btn:active,
#panel #tabs .btn:hover {
	background: #82abb3;
	border: 0;
}

#panel #tabs .btn-group > .btn:first-child {
	width: 104px;
	margin-left: 0;
}

#panel #tabs .btn-group > .btn:last-child {
	margin-right: 0;
}

#panel #tabs #detailInfo {
	width: 290px;
	height: 65px;
	clear: both;
	padding: 4px 10px 0 10px;
	background: #fff;
}
/*面板下部分===========================================*/
#panel #panelDown {
	display: block;
	padding: 18px 0 18px 20px;
	margin: 0;
	height: 300px;
}

/*版权申明===========================================*/
#copyright {
	display: block;
	padding: 5px 10px 5px 10px;
	margin: 0;
	height: 14px;
	width: 330px;
	/*position: fixed;*/
	position: absolute;
	bottom: 0;
	background-color: #ccc;
	/*box-shadow: 0 0 3px #666;*/
	z-index: 4;
}

#map {
	height: 1080px;
	width: 100%;
}

/*字体===========================================*/
text.place {
	font-size: 12;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	fill: #999;
}

text.time {
	font-size: 12;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	fill: #999;
	text-anchor: end;
}



